<html>
		<meta charset="UTF-8"/>
		<!-- <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
		<script type="text/javascript" src="js/angular.min.js"></script>
	<body>
		<h2>Hello World! Adriel é foda</h2>
		
		<nav ng-click="$event.preventDefault()">
			<a href="#" ng-click="ativo='Home'">Home</a>
			<a href="#" ng-click="ativo='Projetos'">Projetos</a>
			<a href="#" ng-click="ativo='Serviços'">Serviços</a>
			<a href="#" ng-click="ativo='Contato'">Contato</a>
		</nav>
		<p>Por favor, click em um item do menu</p>
		<p>Sua escolha é <b>{{ativo}}</b></p>
		
		<!--<script type="text/javascript" src="bower_components/jquery/js/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>-->
		
	</body>
</html>
